@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Rubik:wght@400;500;700&display=swap');
:root {
    --veryDarkGray: hsl(0, 0%, 17%);
    --darkGray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}