.background {
    width: 100%;
    height: 35vh;
}

.inputCentred {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: white;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardComponent {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.inputIp {
    width: 30rem;
    height: 2rem;
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 15px;
    border: none;
    outline-width: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}

.inputIp:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.inputIp:active {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.inputCentred button {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    text-align: center;
    background-color: black;
    height: 3rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 3rem;
    cursor: pointer;
    padding: 0.5rem;
}

.mapContainer {
    position: absolute;
    border: none;
}

.cardContainer {
    width: 130vh;
    height: 12vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem;
}

.textContainer {
    display: flex;
    padding-left: 0.5rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.textIpAddress h2 {
    font-size: 0.8rem;
    font-family: 'Rubik', sans-serif;
    color: var(--darkGray);
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.textIpAddress h3 {
    display: block;
    word-wrap: break-word;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.isp {
    display: block;
    width: 20rem;
    word-wrap: break-word;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.vertical-line {
    position: relative;
    display: block;
    margin-top: 9px;
    margin-left: 1.5rem;
    margin-right: 20px;
    border-left: 1px solid var(--darkGray);
    height: 10vh;
}

@media only screen and (max-width:500px),
screen and (min-height: 715px) {
    .background {
        height: 43vh;
    }
    .heading1 {
        top: 20%;
        font-size: 1.125rem;
    }
    .cardComponent {
        top: 115%;
    }
    .inputIp {
        width: 18rem;
        height: 2.5rem;
    }
    .inputCentred {
        top: 39%;
    }
    .inputCentred button {
        height: 3.5rem;
    }
    .cardContainer {
        width: 300px;
        height: auto;
        border-radius: 20px;
        padding: 1rem 1rem 0rem;
    }
    .textContainer {
        display: grid;
        justify-content: center;
        text-align: center;
    }
    .vertical-line {
        display: none;
    }
}

@media (min-width:501px) and (max-width:929px) {
    .background {
        height: 43vh;
    }
    .heading1 {
        top: 20%;
        font-size: 1.125rem;
    }
    .cardComponent {
        top: 115%;
    }
    .inputIp {
        width: 28rem;
        height: 2.5rem;
    }
    .inputCentred {
        top: 39%;
    }
    .inputCentred button {
        height: 3.5rem;
    }
    .cardContainer {
        width: 52vh;
        height: auto;
        border-radius: 20px;
        padding: 1rem 1rem 0rem;
    }
    .textContainer {
        display: grid;
        justify-content: center;
        text-align: center;
    }
    .vertical-line {
        display: none;
    }
}

@media (min-width:930px) and (max-width:1080px) {
    .cardContainer {
        width: 113vh;
    }
    .isp {
        width: 16rem;
    }
}

@media (max-height:715px)and (max-width:500px) {
    .background {
        height: 43vh;
    }
    .heading1 {
        top: 20%;
        font-size: 1.125rem;
    }
    .cardComponent {
        top: 130%;
    }
    .inputIp {
        width: 18rem;
        height: 2.5rem;
    }
    .inputCentred {
        top: 39%;
    }
    .inputCentred button {
        height: 3.5rem;
    }
    .cardContainer {
        width: 300px;
        height: auto;
        border-radius: 20px;
        padding: 1rem 1rem 0rem;
    }
    .textContainer {
        display: grid;
        justify-content: center;
        text-align: center;
    }
    .vertical-line {
        display: none;
    }
}